<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	
	<!-- 开启注解 -->
	<context:annotation-config/>
	
	<!-- Spring整合Hibernate -->      
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
	</bean>		
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	
	<!-- 开启事务注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>							
	
	<!-- 用户操作 -->
	<!-- 配置Dao -->
	<bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 配置Service -->
	<bean id="userService" class="com.itheima.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"/>
	</bean>
	
	<!-- 配置Action -->
	<bean id="userAction" class="com.itheima.web.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean>
	
	<!-- 客户操作 -->
	<!-- 配置Dao -->
	<bean id="customerDao" class="com.itheima.dao.impl.CustomerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 配置Service -->
	<bean id="customerService" class="com.itheima.service.impl.CustomerServiceImpl">
		<property name="customerDao" ref="customerDao"/>
	</bean>
	
	<!-- 配置Action -->
	<bean id="customerAction" class="com.itheima.web.action.CustomerAction" scope="prototype">
		<property name="customerService" ref="customerService"/>
	</bean>
	
	<!-- BaseDict操作 -->
	<!-- 配置Dao -->
	<bean id="baseDictDao" class="com.itheima.dao.impl.BaseDictDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 配置Dao -->
	<bean id="baseDictService" class="com.itheima.service.impl.BaseDictServiceImpl">
		<property name="baseDictDao" ref="baseDictDao"></property>
	</bean>
	
	<!-- 配置Action -->
	<bean id="baseDictAction" class="com.itheima.web.action.BaseDictAction" scope="prototype">
		<property name="baseDictService" ref="baseDictService"/>
	</bean>
	
	
	<!-- 联系人操作 -->
	<!-- 配置Dao -->
	<bean id="linkManDao" class="com.itheima.dao.impl.LinkManDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 配置Service -->
	<bean id="linkManService" class="com.itheima.service.impl.LinkManServiceImpl">
		<property name="linkManDao" ref="linkManDao"/>
	</bean>
	
	<!-- 配置Action -->
	<bean id="linkManAction" class="com.itheima.web.action.LinkManAction" scope="prototype">
		<property name="linkManService" ref="linkManService"/>
		<property name="customerService" ref="customerService"/>
	</bean>
	
	<!-- 客户拜访 -->
	<bean id="saleVisitDao" class="com.itheima.dao.impl.SaleVisitDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="saleVisitService" class="com.itheima.service.impl.SaleVisitServiceImpl">
	
	</bean>
	
	<bean id="saleVisitAction" class="com.itheima.web.action.SaleVisitAction" scope="prototype">
	
	</bean>
</beans>